<script setup>
import { Switch } from "@headlessui/vue";
import Facebook from "@/assets/svg/Facebookfooter.svg?url";
import Twitter from "@/assets/svg/Twitterfooter.svg?url";
import LinkedIn from "@/assets/svg/LinkedInFooter.svg?url";
</script>
<template>
  <div>
    <div
      class="mt-10 pb-10 lg:pb-0 flex flex-col flex-wrap items-center justify-between space-y-10 bg-white px-8 duration-500 ease-in dark:bg-DarkModeBg md:px-[50px] lg:mb-0 lg:flex-row xl:px-[100px]"
    >
      <NuxtLink to="https://hahujobs.io/" class="flex flex-col">
        <h1 class="mt-[27px] dark:text-HahuGray/4">Powered by</h1>
        <img
          src="/images/Hahu_footer_logo1.png"
          class="mt-[13px] object-contain dark:hidden w-[162px] h-[29px]"
          alt="hahuLogoFooterIcon"
        />
        <img
          src="/images/Hahu_footer_logo1_dark.png"
          class="mt-[13px] hidden object-contain dark:block w-[162px] h-[29px]"
          alt="hahuLogoFooterIcon"
        />

        <img
          src="/images/Hahu_footer_logo2.png"
          class="mt-[9px] mb-[41px] object-contain dark:hidden w-[162px] h-[24px]"
          alt="hahuLogoFooterIcon"
        />
        <img
          src="/images/Hahu_footer_logo2_dark.png"
          class="mt-[9px] mb-[41px] hidden object-contain dark:block w-[162px] h-[24px]"
          alt="hahuLogoFooterIcon"
        />
      </NuxtLink>
      <div
        class="flex items-center flex-col lg:mr-20 space-y-10 lg:flex-row lg:space-x-16 lg:space-y-0 xl:space-x-[85px]"
      >
        <NuxtLink
          to="https://www.hahujobs.io/#services"
          target="_blank"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          Services</NuxtLink
        >
        <NuxtLink
          to="https://www.hahujobs.io/#about"
          target="_blank"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          About Us</NuxtLink
        >
        <NuxtLink
          to="https://www.hahujobs.io/#contact"
          target="_blank"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          Contact Us</NuxtLink
        >
        <NuxtLink
          :to="{ path: '/privacy' }"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          Privacy</NuxtLink
        >
      </div>
    </div>
    <hr class="border-1 w-full border-gray-100" />
    <div
      class="flex pb-5 py-4 flex-col items-center justify-end space-y-10 bg-white px-8 duration-500 ease-in dark:bg-DarkModeBg md:px-[50px] lg:mb-0 lg:flex-row lg:justify-between lg:space-y-0 xl:px-[100px]"
    >
      <h1 class="text-base font-medium leading-6 text-gray-400">
        © 2022 HaHu Jobs. All rights reserved.
      </h1>
      <div class="md:ml-10 flex space-x-7 lg:mr-20">
        <NuxtLink to="https://www.facebook.com/Hahujobs" target="_blank">
          <img
            class="object-contain w-5 h-5"
            :src="Facebook"
            alt="facebookIcon"
          />
        </NuxtLink>
        <NuxtLink to="https://twitter.com/hahujobs" target="_blank">
          <img
            class="object-contain w-5 h-5"
            :src="Twitter"
            alt="TwitterIcon"
          />
        </NuxtLink>
        <NuxtLink
          to="https://www.linkedin.com/company/hahujobs/"
          target="_blank"
        >
          <img
            class="object-contain w-5 h-5"
            :src="LinkedIn"
            alt="LinkedInIcon"
          />
        </NuxtLink>
      </div>
    </div>
  </div>
</template>
