<template>
  <div class="bg-secondary-lite dark:bg-DarkModeBg duration-200">
    <Navbar
      class="sticky top-0 z-50 bg-secondary-lite bg-opacity-80 backdrop-filter backdrop-blur-sm"
    ></Navbar>
    <slot></slot>
    <Footer />
  </div>
</template>
